node_modules/
dist/
build/
.env
.env.*
*.log
.DS_Store
.pnpm-store/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

dist-ssr
*.local

.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/